<footer>
    <div class="f-info border-top dis pt-4 pb-3">
        <div class="f-left-info dis">
            <div class="f-name">&copy; 2024 Airbnb, Inc.</div>
            <div class="f-info-links dis">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
                <a href="/sitemap">Sitemap</a>
                <a href="/companydetails">Company Details</a>
            </div>
        </div>
        <div class="f-right-info dis">
            <div class="global dis">
                <i class="ri-global-line"></i>
                <a href="/language">English (IN)</a>
            </div>
            <div class="currency dis">
                &#8377;
                <a href="/rupee">INR</a>
            </div>
            <div class="f-info-socials dis">
                <i class="ri-facebook-box-fill"></i>
                <i class="ri-twitter-line"></i>
                <i class="ri-instagram-line"></i>
            </div>
        </div>
    </div>
</footer>